@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "textos";


/* Altura máxima de imagenes en escritorio */

@media (min-width: 1200px) {
    img {
        max-height: 500px;
    }
  }

/* Carousel adaptable */

  .imagen2 {
   display: none;
  }

@media only screen and (max-width: 768px){
    .imagen1{
      display: none;
    }
 
    .imagen2{
      display: block;
    }
 }

 .carousel-caption {
     text-shadow: 2px 2px 5px black;
 }

/* Imagen de fondo en productos (home) */

.product-bg {
    background-image:linear-gradient(rgba(18, 102, 241, .8), rgba(18, 102, 241, .5)),url("../../images/productsbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    @media only screen and (max-width: 768px) {
        background-image:linear-gradient(rgba(18, 102, 241, .8), rgba(18, 102, 241, .5)),url("../../images/products-md-bg.jpg");
    }

}


/* Redes sociales */

    .social__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 5rem;
            padding-left: 5%;
            padding-right: 5%;
        }
    }

/* Footer */
  footer {
    .footer__social i {padding-left: 30px;}
  }

/* Estilizado de blockquotes en quienes somos */

blockquote{
    font-size: 1.4em;
    width: 90%;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #1266F1 ;
    border-right:8px solid #1266F1 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    border-radius: 25px 0 25px 0;
    @media (max-width:768px) {
        font-size: 1rem;
        width: 80%;
    }
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#1266F1;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }

/* Faq video */

#myVideo {
    position: relative;
    width: 100%;
  }